<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link href="{% static 'css/w3.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/home_page.css' %}">
    {%block title%}
    {%endblock%}
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark" style = "background-color:black;">
      <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'web:reachUs' %}"><img src="{% static 'images/logo.jpg' %}" alt="Drive Motors"></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="{% url 'web:home' %}">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'web:allCars' %}">All Cars</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="{% url 'web:reachUs' %}" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Contact Us
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item" href="{% url 'web:reachUs' %}">Message Drive Motors</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" href="{% url 'web:reachUs' %}">Our Location</a></li>
              </ul>
            </li>
          </ul>
          <button class="btn btn-outline-success" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasWithBothOptions" aria-controls="offcanvasWithBothOptions">Search Our Cars</button>
          <div class="offcanvas offcanvas-start" data-bs-scroll="true" tabindex="-1" id="offcanvasWithBothOptions" aria-labelledby="offcanvasWithBothOptionsLabel">
            <div class="offcanvas-header">
              <h1 class="offcanvas-title" id="offcanvasWithBothOptionsLabel">Drive Motors</h1>
              <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <div class="offcanvas-body">
              <h3><span  class="badge bg-secondary">FILTERED SEARCH</span></h3>
              <br>
              <form action="{% url 'web:search' %}" method="post" name="">{% csrf_token %}
                <select class="form-select" aria-label="Default select example" name="car_make">
                  <option selected>Car Make</option>
                  <option>Toyota</option>
                  <option>Nissan</option>
                  <option>Mitsubishi</option>
                  <option>Lexus</option>
                  <option>Hyundai</option>
                  <option>Renault</option>
                  <option>BMW</option>
                </select>
                <br>
                <select class="form-select" aria-label="Default select example" name="car_condition">
                  <option selected>Condition</option>
                  <option>New</option>
                  <option>Old</option>
                </select>
                <br>
                <select class="form-select" aria-label="Default select example" name="car_price">
                  <option selected>Price</option>
                  <option>Low to High</option>
                  <option>High to Low</option>
                </select>
                <br>
                <select class="form-select" aria-label="Default select example" name = "car_color">
                  <option selected>Color</option>
                  <option>Any</option>
                  <option>White</option>
                  <option>Black</option>
                  <option>Gray</option>
                  <option>Silver</option>
                  <option>Red</option>
                  <option>Blue</option>
                  <option>Brown</option>
                  <option>Green</option>
                  <option>Beige</option>
                  <option>Orange</option>
                  <option>Gold</option>
                  <option>Yellow</option>
                  <option>Purple</option>
                </select>
                <br>
                <button type="submit" class="btn btn-primary" name="button">Apply Filter</button>
              </form>
              <br><br><br><br><br><br><br><br>
              <a href="{% url 'web:home' %}"<button class="button" style="vertical-align:middle"><span>Featured Cars </span></button></a>
            </div>
          </div>
        </div>
      </div>
    </nav>
    <div>
      {% block body_block %}
      {% endblock %}
    </div>
    <!-- footer -->
    <div class="footer">
      <a href="{% url 'web:home' %}"><h4>drivemotors.com</h4></a>
      <a href="{% url 'web:reachUs' %}"><h4>Locate Us</h4></a>
    </div>


    <script src="{% static 'js/poppper.min.js' %}" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
    <script src="{% static 'js/bootstrap.min.js' %}" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
  </body>
</html>
