<!DOCTYPE html>
{% extends "base.html" %}
{% block title %}
{% load static %}
{% load custom_filters %}
{% for car in cars %}
<title>{{car.name}} | Drive Motors</title>
{% endfor %}
{% endblock %}
{% block body_block %}
{% for car in cars %}
  <div class="card text-center">
    <div class="card-header">
      {{car.name}}
    </div>
    <div class="card-body">
      <div id="carouselExampleIndicators" class="carousel carousel-dark slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3" aria-label="Slide 4"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="4" aria-label="Slide 5"></button>
        </div>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="{{car.image_one.url}}" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="{{car.image_two.url}}" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="{{car.image_three}}" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="{{car.image_four}}" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="{{car.image_five}}" class="d-block w-100" alt="...">
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
      <br>
      <ol class="list-group list-group-numbered">
        <li class="list-group-item d-flex justify-content-between align-items-start">
          <div class="ms-2 me-auto">
            <div class="fw-bold">Make</div>
            {{car.make}}
          </div>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-start">
          <div class="ms-2 me-auto">
            <div class="fw-bold">Model</div>
            {{car.model}}
          </div>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-start">
          <div class="ms-2 me-auto">
            <div class="fw-bold">Condition</div>
            {{car.condition}}
          </div>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-start">
          <div class="ms-2 me-auto">
            <div class="fw-bold">Price</div>
            {{car.price|price}}
          </div>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-start">
          <div class="ms-2 me-auto">
            <div class="fw-bold">Kilometers</div>
            {{car.kilometers|km}}
          </div>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-start">
          <div class="ms-2 me-auto">
            <div class="fw-bold">Color</div>
            {{car.color}}
          </div>
        </li>
      </ol>
      <br>
      <a href="{% url 'web:reachUs' %}" class="btn btn-primary">Contact Us For More Enquiry</a>
    </div>
    <div class="card-footer text-muted">

    </div>
  </div>
  <br><br>
{% endfor %}
{% endblock %}
